*{margin:0;padding:0;box-sizing:0;}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#111;
}

.loader{
height:200px;
width:200px;
background:linear-gradient(45deg,transparent 40%,yellow);
border-radius:50%;
position:relative;
animation:animate 1.5s linear infinite;
}

.loader:before{
content:'';
position:absolute;
top:8px;
left:8px;
background:#111;
bottom:8px;
right:8px;
border-radius:50%;
}
.loader:after{
content:'';
position:absolute;
top:8px;
left:8px;
background:linear-gradient(45deg,transparent 60%,yellow);
bottom:8px;
right:8px;
border-radius:50%;
z-index:-1;
filter:blur(30px);
}

@keyframes animate{
0%{
filter:hue-rotate(0deg);
transform:rotate(0deg);
}
100%{
filter:hue-rotate(360deg);
transform:rotate(360deg);
}
}










